*{
    padding: 0;
    margin: 0;
}

img{
    margin: 15px;
    padding: 0;
}

.cabeçalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: grey;
}

.Logo{

    text-align: center;
    background-color: grey;
    width: 50%;
}

.Opcoes{
    margin: 0;
    display: flex;
    flex-direction: row;
    background-color: yellow;
    justify-content: center;
    padding-left: 10%;
    padding-right: 15%;
}

a{
    color: black;
    transition: color 1s, font-size 1s;
}

a:hover{
    font-size: 120%;
    background-color: yellow;
    color: grey;
}

h1:hover{
    color: rgb(166, 255, 0);
    font-size: 48px;
}



h2{
    margin: 10%;
    text-align: center;
    background-color: yellow;
    color: black;
}

h1{
    transition: font-size 1s, color 1s;
    color: rgb(251, 255, 14);
}

.Conteudo{
    display: flex;
    flex-direction: row;
}

.Conteudo img{

    height: 60%;
    width: 80%;
    display: flex;
    justify-content: space-between;
    border-radius: 25%;
    padding: 10%;


}

.Colunas {
    display: table-column;
    text-align: center;
    background-color: rgb(255, 255, 167);

}

@media(max-width:700px){

    .Logo{
        display: none;   
    }

    .Opções{
        display: flex;
        flex: column;
    }

    .Colunas{
        margin: 0 auto;
    }

    #Cachorro11 {
        display: none;
    }

    #Gato2 {
        display: none; 
    }

    #Cachorro2 {
        display: none;
    }

    
}